
body{
    display: flex;
    flex-direction: row;
    margin:auto;
    padding:auto;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    background-color: beige;
}


.answer{
    background-color: greenyellow;
    width: 15vw;
    height: 10vh;
    border: 5px dashed grey;
    color:darkblue;
    transition: 1s;
    
}

.answer:hover{
    scale: 110%;
    background-color: lightcoral;
    border: 5px dashed black;
    color:darkblue;
    transition: 1s;
    
    
}

.questionContainer{
    display:flex;
    flex:1;
    background-color: aqua;
    justify-content: center;
    color:azure;
    
    
}

.answerContainer{
    height:80vh;
    width: 80vw;
    flex:1;
    background-color: limegreen;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}